@import "~src/assets/scss/styles";

.user-form {
    background-color: $darkGray;
    height: 100vh;
    display: flex;
    justify-content: center;

    &-container {
        background-color: $mainWhite;
        margin: 10rem auto;
        margin-bottom: 0;
        height: fit-content;
        padding: 2rem;
    }

    &__input {
        margin-bottom: .8rem;
        color: $mainBlack;

        &:focus::placeholder {
            color: transparent;
        }
    }

    &-btns {
        display: flex;
        justify-content: space-between;
    }

    &__topic {
        color: $darkBlue;
    }
}

.input--stretch {
    width: 20rem;
    height: 3rem;
}

.is--invalid {
    border: 2px solid $lightPink;
    box-shadow: none;
}

.is--valid {
    border: 2px solid $lightGreen;
    box-shadow: none;
}

.fa {
    position: relative;
    left: -1.625rem;
    top: -2.8125rem;
    font-size: 1.2rem;
    color: $lightGray;
    cursor: default;
    width: 0;
    float: right;
}

.mark--error {
    color: $lightPink;
}

.mark--correct {
    color: $lightGreen;
}
