.user-form {
    background-color: #474747;
    height: 100vh;
    display: flex;
    justify-content: center;

    &-container {
        background-color: #fff;
        margin: 10rem auto;
        margin-bottom: 0;
        height: fit-content;
        padding: 2rem;
    }

    &__input {
        margin-bottom: .8rem;
        color: #000;

        &:focus::placeholder {
            color: transparent;
        }
    }

    &-btns {
        display: flex;
        justify-content: space-between;
    }

    &__topic {
        color: #636c72;
    }
}

.input--stretch {
    width: 20rem;
    height: 3rem;
}

.is--invalid {
    border: 2px solid #fa8cb8;
    box-shadow: none;
}

.is--valid {
    border: 2px solid #13c98a;
    box-shadow: none;
}

.fa {
    position: relative;
    left: -1.625rem;
    top: -2.8125rem;
    font-size: 1.2rem;
    color: #7B7B7B;
    cursor: default;
    width: 0;
    float: right;
}

.mark--error {
    color: #fa8cb8;
}

.mark--correct {
    color: #13c98a;
}
