<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
  <section class="user-form form-group">
    <section class="user-form-container">
      <h4 class="user-form__header">Форма для тебя</h4>
      <input placeholder="Представьтесь пожалуйста" type="text"
        required
        [(ngModel)]="model.username"
        name="username"
        #username="ngModel"
        [ngClass]="{'is--invalid': username.touched && username.invalid,'is--valid': username.valid}"
        class="user-form__input user-form__fullname form-control input--stretch">
      <input placeholder="Введите ваш e-mail" type="email"
        email
        required
        [(ngModel)] = "model.name"
        name="email"
        #email = "ngModel"
        [ngClass]="{'is--invalid': email.touched && email.invalid,'is--valid': email.valid}"
        class="user-form__input user-form__email form-control input--stretch">
      <select placeholder="Тема сообщения" class="user-form__input user-form__topic form-control input--stretch">
        <option value="" hidden>Тема сообщения</option>
        <option>Тема 1</option>
        <option>Тема 2</option>
        <option>Тема 3</option>
        <option>Тема 4</option>
        <option>Тема 5</option>
      </select>
      <textarea placeholder="Введите сообщение" type="text" rows="3"
        required
        [(ngModel)] = "model.message"
        name="message"
        #message = "ngModel"
        [ngClass]="{'is--invalid': message.touched && message.invalid,'is--valid': message.valid}"
        class="user-form__input user-form__msg form-control input--stretch h-25"></textarea>
      <section class="user-form-btns">
        <button type="button" class="user-form__btn btn btn-secondary btn--round btn--bold">Сбросить</button>
        <button class="user-form__btn btn btn-success btn--round btn--bold">Отправить</button>
      </section>
    </section>
  </section>

</form>
